@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'jetbrains-mono';
@import '@fontsource/noto-sans-kr';
@import '@fontsource/noto-serif-kr';

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans CJK KR', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  scroll-behavior: smooth;
}

.font-serif {
  font-family: 'Noto Serif CJK KR', ui-serif, Georgia, Cambria, "Times New Roman", Times, serif !important;
}

.font-mono {
  font-family: 'Jetbrains Mono', 'Courier New', Courier, monospace;
}
